<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.student.mapper.StudentResumeMapper">
    
    <resultMap type="StudentResume" id="StudentResumeResult">
        <result property="resumeId"    column="resume_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="expectedPosition"    column="expected_position"    />
        <result property="expectedSalaryMin"    column="expected_salary_min"    />
        <result property="expectedSalaryMax"    column="expected_salary_max"    />
        <result property="educationExperience"    column="education_experience"    />
        <result property="partTimeExperience"    column="part_time_experience"    />
        <result property="skillTags"    column="skill_tags"    />
        <result property="selfIntro"    column="self_intro"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectStudentResumeVo">
        select resume_id, student_id, expected_position, expected_salary_min, expected_salary_max, education_experience, part_time_experience, skill_tags, self_intro, status, create_by, create_time, update_by, update_time, remark, del_flag from t_student_resume
    </sql>

    <select id="selectStudentResumeList" parameterType="StudentResume" resultMap="StudentResumeResult">
        <include refid="selectStudentResumeVo"/>
        <where>  
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="expectedPosition != null  and expectedPosition != ''"> and expected_position = #{expectedPosition}</if>
            <if test="expectedSalaryMin != null "> and expected_salary_min = #{expectedSalaryMin}</if>
            <if test="expectedSalaryMax != null "> and expected_salary_max = #{expectedSalaryMax}</if>
            <if test="educationExperience != null  and educationExperience != ''"> and education_experience = #{educationExperience}</if>
            <if test="partTimeExperience != null  and partTimeExperience != ''"> and part_time_experience = #{partTimeExperience}</if>
            <if test="skillTags != null  and skillTags != ''"> and skill_tags = #{skillTags}</if>
            <if test="selfIntro != null  and selfIntro != ''"> and self_intro = #{selfIntro}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectStudentResumeByResumeId" parameterType="Long" resultMap="StudentResumeResult">
        <include refid="selectStudentResumeVo"/>
        where resume_id = #{resumeId}
    </select>

    <insert id="insertStudentResume" parameterType="StudentResume" useGeneratedKeys="true" keyProperty="resumeId">
        insert into t_student_resume
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="expectedPosition != null">expected_position,</if>
            <if test="expectedSalaryMin != null">expected_salary_min,</if>
            <if test="expectedSalaryMax != null">expected_salary_max,</if>
            <if test="educationExperience != null">education_experience,</if>
            <if test="partTimeExperience != null">part_time_experience,</if>
            <if test="skillTags != null">skill_tags,</if>
            <if test="selfIntro != null">self_intro,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="expectedPosition != null">#{expectedPosition},</if>
            <if test="expectedSalaryMin != null">#{expectedSalaryMin},</if>
            <if test="expectedSalaryMax != null">#{expectedSalaryMax},</if>
            <if test="educationExperience != null">#{educationExperience},</if>
            <if test="partTimeExperience != null">#{partTimeExperience},</if>
            <if test="skillTags != null">#{skillTags},</if>
            <if test="selfIntro != null">#{selfIntro},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateStudentResume" parameterType="StudentResume">
        update t_student_resume
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="expectedPosition != null">expected_position = #{expectedPosition},</if>
            <if test="expectedSalaryMin != null">expected_salary_min = #{expectedSalaryMin},</if>
            <if test="expectedSalaryMax != null">expected_salary_max = #{expectedSalaryMax},</if>
            <if test="educationExperience != null">education_experience = #{educationExperience},</if>
            <if test="partTimeExperience != null">part_time_experience = #{partTimeExperience},</if>
            <if test="skillTags != null">skill_tags = #{skillTags},</if>
            <if test="selfIntro != null">self_intro = #{selfIntro},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where resume_id = #{resumeId}
    </update>

    <delete id="deleteStudentResumeByResumeId" parameterType="Long">
        delete from t_student_resume where resume_id = #{resumeId}
    </delete>

    <delete id="deleteStudentResumeByResumeIds" parameterType="String">
        delete from t_student_resume where resume_id in 
        <foreach item="resumeId" collection="array" open="(" separator="," close=")">
            #{resumeId}
        </foreach>
    </delete>
</mapper>
