<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JobCollectionMapper">
    
    <resultMap type="JobCollection" id="JobCollectionResult">
        <result property="collectionId"    column="collection_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="postId"    column="post_id"    />
        <result property="collectionTime"    column="collection_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectJobCollectionVo">
        select collection_id, student_id, post_id, collection_time, create_by, create_time, update_by, update_time, remark, del_flag from t_job_collection
    </sql>

    <select id="selectJobCollectionList" parameterType="JobCollection" resultMap="JobCollectionResult">
        <include refid="selectJobCollectionVo"/>
        <where>  
            <if test="collectionId != null "> and collection_id = #{collectionId}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="postId != null "> and post_id = #{postId}</if>
            <if test="params.beginCollectionTime != null and params.beginCollectionTime != '' and params.endCollectionTime != null and params.endCollectionTime != ''"> and collection_time between #{params.beginCollectionTime} and #{params.endCollectionTime}</if>
        </where>
    </select>
    
    <select id="selectJobCollectionByCollectionId" parameterType="Long" resultMap="JobCollectionResult">
        <include refid="selectJobCollectionVo"/>
        where collection_id = #{collectionId}
    </select>

    <insert id="insertJobCollection" parameterType="JobCollection" useGeneratedKeys="true" keyProperty="collectionId">
        insert into t_job_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="postId != null">post_id,</if>
            <if test="collectionTime != null">collection_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="postId != null">#{postId},</if>
            <if test="collectionTime != null">#{collectionTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateJobCollection" parameterType="JobCollection">
        update t_job_collection
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="postId != null">post_id = #{postId},</if>
            <if test="collectionTime != null">collection_time = #{collectionTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where collection_id = #{collectionId}
    </update>

    <delete id="deleteJobCollectionByCollectionId" parameterType="Long">
        delete from t_job_collection where collection_id = #{collectionId}
    </delete>

    <delete id="deleteJobCollectionByCollectionIds" parameterType="String">
        delete from t_job_collection where collection_id in 
        <foreach item="collectionId" collection="array" open="(" separator="," close=")">
            #{collectionId}
        </foreach>
    </delete>
</mapper>
