<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentInfoMapper">
    
    <resultMap type="StudentInfo" id="StudentInfoResult">
        <result property="studentId"    column="student_id"    />
        <result property="studentNo"    column="student_no"    />
        <result property="realName"    column="real_name"    />
        <result property="gender"    column="gender"    />
        <result property="schoolName"    column="school_name"    />
        <result property="majorName"    column="major_name"    />
        <result property="gradeYear"    column="grade_year"    />
        <result property="phone"    column="phone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectStudentInfoVo">
        select student_id, student_no, real_name, gender, school_name, major_name, grade_year, phone, create_by, create_time, update_by, update_time, remark, del_flag from t_student_info
    </sql>

    <select id="selectStudentInfoList" parameterType="StudentInfo" resultMap="StudentInfoResult">
        <include refid="selectStudentInfoVo"/>
        <where>  
            <if test="studentNo != null  and studentNo != ''"> and student_no = #{studentNo}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="schoolName != null  and schoolName != ''"> and school_name like concat('%', #{schoolName}, '%')</if>
            <if test="majorName != null  and majorName != ''"> and major_name like concat('%', #{majorName}, '%')</if>
            <if test="gradeYear != null "> and grade_year = #{gradeYear}</if>
        </where>
    </select>
    
    <select id="selectStudentInfoByStudentId" parameterType="Long" resultMap="StudentInfoResult">
        <include refid="selectStudentInfoVo"/>
        where student_id = #{studentId}
    </select>

    <insert id="insertStudentInfo" parameterType="StudentInfo">
        insert into t_student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="studentNo != null and studentNo != ''">student_no,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="schoolName != null and schoolName != ''">school_name,</if>
            <if test="majorName != null and majorName != ''">major_name,</if>
            <if test="gradeYear != null">grade_year,</if>
            <if test="phone != null">phone,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="studentNo != null and studentNo != ''">#{studentNo},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="schoolName != null and schoolName != ''">#{schoolName},</if>
            <if test="majorName != null and majorName != ''">#{majorName},</if>
            <if test="gradeYear != null">#{gradeYear},</if>
            <if test="phone != null">#{phone},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateStudentInfo" parameterType="StudentInfo">
        update t_student_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentNo != null and studentNo != ''">student_no = #{studentNo},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="schoolName != null and schoolName != ''">school_name = #{schoolName},</if>
            <if test="majorName != null and majorName != ''">major_name = #{majorName},</if>
            <if test="gradeYear != null">grade_year = #{gradeYear},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteStudentInfoByStudentId" parameterType="Long">
        delete from t_student_info where student_id = #{studentId}
    </delete>

    <delete id="deleteStudentInfoByStudentIds" parameterType="String">
        delete from t_student_info where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>